@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');


html,body{
    font-family: 'Kanit', sans-serif;
    margin: 0;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 22px;
}

nav{
    flex-direction: column;
}

nav h1{
    font-size: 3rem;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    text-decoration: underline;
    /* margin: 0 10%;  */
}

.mission{
    background-image: url("./img/back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    text-shadow: black;
}

.statement{
    color: gray;
    background-color: black;
    height: 150px;
}